<footer>
  <div class="footer">
    <div class="container">
      <div class="col justify-content-center col-sm col-me mb-5">
        <!-- here the logo -->
        <p class="footer-placeholder text-center mb-0">Project1 Villa</p>
        <p class="footer-title nav-link text-center fs-2">Project1</a>
      </div>
      <div class="row">
        <div class="col-5">
          <div class="row">
            <div class="col-6">
              <div class="mb-3">
                <span class="fs-7 footer-title-content">Address</span>
              </div>
              <div class="mb-1">
                <p class="footer-about-content mb-0 footer-content-address">Gianyar</p>
                <p class="footer-about-content">Jl. xxxxxx</p>
              </div>
            </div>
            <div class="col-6">
              <div class="mb-3">
                <span class="fs-7 footer-title-content">Accommodation</span>
              </div>
              <div class="mb-1">
                <ul class="footer-menu-nav">
                  <li class="mb-1"><a href="" class="footer-link">Villas</a></li>
                  <li class="mb-1"><a href="" class="footer-link">Rooms</a></li>
                  <li class="mb-1"><a href="" class="footer-link">Restaurant</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="col-2 text-center">
          <img src="assets/images/vojtech-bruzek-Yrxr3bsPdS0-unsplash-min.jpg" width="100" height="100" alt="">
        </div>
        <div class="col-5 d-flex justify-content-end">
          <div class="col-10">
            <div class="text-end pl-3">
              <div class="mb-3">
                <span class="fs-5 footer-title-content">Project1 Villa</span>
              </div>
              <p class="footer-about-content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum iure nisi
                modi quam maxime explicabo.</p>
              <div class="mb-3">
                <form action="">
                  <div class="d-flex">
                    <input type="text" class="cs-input p-2 w-100">
                    <button class="cs-sm-btn subscribe-btn"><i class="fa-solid fa-arrow-right"></i></button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- <hr style="color:aliceblue"> -->
    <div class="text-center pb-1">
      <p class="footer-about-content">© Project1 by <a href="" class="footer-link">Shoshin Media </a>2023</p>
    </div>
  </div>
</footer>
<script type="text/javascript" src="./assets/script.js"></script>