<header>
  <nav id="navbar" class="navbar position-fixed w-100">
    <div class="container-fluid">
      <!-- TODO: BELUM CENTER INI SI navbar -->
      <ul class="navbar-nav">
        <li class="me-5">
          <button id="menu-btn" type="button" class="btn bg-transparent">
            <!-- TODO: icon -->
            <img width="25" height="25" src="https://img.icons8.com/ios/50/menu--v1.png" alt="menu--v1" />
          </button>
        </li>
        <li class="nav-link-item me-5"><a href="" class="nav-link">Home</a></li>
        <li class="nav-link-item me-5"><a href="" class="nav-link">About</a></li>
      </ul>
      <div class="col col-sm col-md">
        <!-- here the logo -->
        <a href="" class="nav-link text-center fs-3">Project1</a>
      </div>
      <ul class="navbar-nav">
        <li class="nav-link-item ms-5"><a href="" class="nav-link">+62 81 999 999 999</a></li>
        <li class="nav-link-item ms-5"><a href="" class="nav-link">Reservation</a></li>
      </ul>
    </div>
  </nav>
  <!-- bg-transparent -->
  <div id="side-menu" class="visually-hidden position-fixed overflow-hidden">
    <button id="close-side-menu" type="button" class="btn btn-primary">
      <!-- TODO: icon -->
      <img width="35" height="35" src="https://img.icons8.com/ios/50/multiply.png" alt="multiply" />
    </button>
    <div class="d-flex justify-content-center p-5">
      <ul class="side-menu-nav mt-5 mb-5">
        <li class="mb-side-menu-item mb-4"><a href="" class="nav-link side-menu-link fs-3 text-center">Home</a></li>
        <li class="mb-4"><a href="" class="nav-link side-menu-link fs-3 text-center">Villas</a></li>
        <li class="mb-4"><a href="" class="nav-link side-menu-link fs-3 text-center">Rooms</a></li>
        <li class="mb-4"><a href="" class="nav-link side-menu-link fs-3 text-center">Restaurant</a></li>
        <li class="mb-side-menu-item mb-4"><a href="" class="nav-link side-menu-link fs-3 text-center">About</a></li>
        <li class="mb-4"><a href="" class="nav-link side-menu-link fs-3 text-center">Contact</a></li>
        <li class="mb-side-menu-item mb-4"><a href="" class="nav-link side-menu-link fs-3 text-center">Reservation</a>
        </li>
      </ul>
    </div>
  </div>
</header>